.wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
   .container{
    margin-top: 300px;
    margin-bottom: 400px;
display: flex;
align-items: center;
justify-content: center;
width: 90%;
gap: 30px;
flex-direction: column;
   }
}